body {
    text-align: center;
    font-family: 'Lucida Sans', 'Lucida Sans Regular', 'Lucida Grande', 'Lucida Sans Unicode', Geneva, Verdana, sans-serif;
    background-color: rgb(45, 108, 110);
}

button {
    height: 40px;
    width: 100px;
    border: none;
    margin: 0px 5px;
    color: rgb(255, 255, 255);
    font-weight: bold;
    background-color: rgb(22, 238, 191);
    cursor: pointer;
    transition: 0.5s;
    font-family: 'Lucida Sans', 'Lucida Sans Regular', 'Lucida Grande', 'Lucida Sans Unicode', Geneva, Verdana, sans-serif;
    border-radius: 15px;
}

button:hover {
    background-color: rgb(6, 76, 228);
}

p {
    font-size: 16px;
    font-weight: bold;
    
}

h3{
    color: whitesmoke;
}